*{
    margin: 0;
    padding: 0;
    border: 0;
}
.inicio {
    background-image: url(../img/pokemon-wallpaper.jpeg);
    background-size: 100%;
}
.tituloGrande{
    position:relative;
    padding-left: 20rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.bolas {
    vertical-align: middle;
}
.menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 30px;
    color: black;
    background-color: antiquewhite;
    opacity: 0.7;
    margin: 10px;
    padding: 10px;
}
.decoMenu {
    text-decoration: none;
}
a:visited{
    color: black;
}

.espacio {
    color: transparent;
    width: 400px;
    height: 10px;
    border: none;
}
.historia {
    background-color: antiquewhite;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0.5rem;
}

.titulo {
    color: black;
    padding: 30px;
}

.textoHistoria {
    display: flex;
    color: black;
    border: 50px;
    padding-left: 15px;
}
.video{
    padding-left: 1rem;
}
.imagenpk{
    padding-right: 2rem;
    padding-top: 4rem;
}
.foot1, .foot2{
    background-color: antiquewhite;
    font-size: x-large;
    opacity: 0.8;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
/* .foot{
    text-decoration: none;
} */
h2 {
    padding-left: 3rem;
}
.listaJuegos {
    display: flex;
    color: black;
    border: 50px;
    padding-left: 5rem;
}
.juegos{
    background-color: antiquewhite;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0.5rem;
}
.gbc {
    padding-left: 25rem;
}
.n64{
    padding-left: 35rem;
}
.gamecube {
    padding-left: 32rem;
}
.gba{
    padding-left: 28rem;
}
.wii{
    padding-left: 21rem;
}
.nds{
    padding-left: 11rem;
}
.nintendo3ds{
    padding-left: 27rem;
}
.switch{
    padding-left: 20rem;
}
.celu{
    padding-left: 35rem;
}
.pagJuegos {
    background-image: url(../img/regiones.jpg);
    background-size: 100%;
}
.pagManga {
    background-image: url(../img/pokeManga.jpeg);
    background-size: 100%;
}
.pagAnime {
    background-image: url(../img/pokeAnime.jpg);
    background-size: 100%;
}
.menu3, .menu4 {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: gray;
    opacity: 0.9;
    margin: 10px;
    padding: 10px;
}
.manga{
    background-color: gray;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 0.5rem;
}
.foot3, .foot4{
    background-color: gray;
    color: white;
    font-size: large;
    opacity: 0.8;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.imgManga {
    padding: 10px;
}
.historiaDelAnime{
    background-color: gray;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 0.5rem;
}
.laHistoriaAnime {
    display: flex;
    color: black;
    font-size: large;
    border: 50px;
    padding-left: 3rem;
}
.cancion {
    padding-left: 3rem;
}

